@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* menu de navegação */
header {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* position fixed não ta funcionando */
nav {
    background-color: #fff;
    position: fixed;
    display: flex;
    margin: auto;
    width: 80vw;
    height: 12vh;
    margin: auto;
    z-index: 10;
}

ul {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    color: #000;
}

li:hover {
    /* transição pra deixar a letra mais grossa no nav*/
    transition: .5s;
    font-weight: bold;
}


#logo {
    /* container da logo */
    width: 20vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #logo img {
    /* imagem da logo */
    width: 6vw;
    height: 10vh;
}

#contatos {
    /* container dos contatos */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30vw;
    height: 12vh;
}

#social_media {
    /* container dos icones */
    display: flex;
    gap: 5rem;
}

#social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#social_media .footer-link i {
    font-size: 1.25rem;
}

#social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

/* fim do nav */

.tittle-galeria .titulo {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

#container_galeria {
    /* container que centraliza a galeria*/
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gallery {
    width: 80vw;
    height: auto;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.gallery>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 2rem;
    opacity: 1;
    display: block;
}

.image-container{
    position: relative;
}

.image-container img:hover {
    opacity: 0.5;
    transition: .5s ease;
    scale: 110%;
}

.gallery .tall {
    grid-row: span 2;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #7e005e;
    --color-neutral-10: #9b276e;
    --color-neutral-30: #e9b5d3;
    --color-neutral-40: #f5f5f5;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
    font-family: "Raleway", sans-serif;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #3f082d;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #6d0049;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}