/* header escondido */
#header_home {
  position: fixed;
  top: -100px; /* Escondido inicialmente */
  left: 0;
  width: 100%;
  height: 12vh;
  background-color: white;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  Sombra sutil */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: top 0.3s ease;
}

#header_home.aparecer {
  top: 0; /* Exibe o menu */
}
/* fim do header escondido */

/*Começo do menu*/
.containerMenu{
  width: 80vw;
  height: 12vh;
  /* background-color: blueviolet; */
  display: flex;
  justify-content:center ;
}

nav{
  width: 40vw;
  height: 12vh;
  background-color: cadetblue;
}

/*logo principal*/
.logoHome{
  width: 20vw;
  height: 12vh;
  display: flex;
  justify-content: center;
}

#logoMenuCentral{
  width: 35%;
}

/*Redes sociais*/
.redeSociais{
  width: 40vw;
  height: 12vh;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}


/*fim do menu*/