.modal {
    display: none; 
    position: fixed;
    z-index: 9999; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.767); 
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10000;
}

.close:hover {
    color: #bbb;
}
