#sobre {
    background-image: url(../IMG/image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
}

/* Faixa centralizada com texto */
.faixa-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #873c709d;
    color: white;
    width: 100vw;
    text-align: center;
    padding: 5rem 0;

}

.faixa-texto h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* .faixa-fundo {
  background-color: #873c70;
  width: 100%;
  padding: 40px 0;
} */

.faixa-texto p {
    font-size: 18px;
    line-height: 1.6;
}