0:40 dia 05/Jul

O que eu mexi:
Fiz o nav, porém ainda não linkei as páginas nem as redes sociais, no nav, não estou conseguindo colocar o position fixed pq o nav fica jogado pra esquerda e tive que alterar o carrossel porque tava dando conflito,  usei o chatgpt mas tá funcionando, porem tem um problema q basicamente ele "vira a pagina" de 1 em 1.
Adicionei tbm as outras paginas mas não mexi nelas por hora. Se eu fizer mais coisa no fim de semana deixo aqui.